* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(73,32,151,1) 0%, rgba(134,60,196,1) 100%);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.active,
.main-section__heading:hover {
    background: linear-gradient(90deg, rgba(97,55,176,1) 0%, rgba(151,93,199,1) 100%);
}

header, 
.main-section, 
.main-section__heading, 
.main-section__form, 
.item, 
.item-body, 
.main-section__dashboard, 
.report-item {
    position: relative;
    display: flex;
}
header {
    padding: 0 18px;
    height: 10vh;
    align-items: center;
    background: rgb(52, 0, 106);
    color: rgb(255, 255, 255);
}

.greeting {
    display: flex;
}
.greeting__image {
    margin-right: 10px;
    i {
        font-size: 26px;
        color: rgb(252,212,98);
    }
}
.greeting__message_title {
    font-size: 16px;
    font-weight: 800;
}
.greeting__message_date {
    font-size: 12px;
    color: rgb(219, 219, 219)
}
.main-section {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(73,32,151,1) 0%, rgba(134,60,196,1) 100%);
}
.main-section__heading {
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(73,32,151,1) 0%, rgba(134,60,196,1) 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    i {
        font-size: 20px;
    }
}
.main-section__panel {
    position: relative;
    margin: 10px 0;
    padding: 0 18px;
    width: calc(100% - 36px);
    height: 0px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    transition: 0.3s ease-out;
}
.main-section__form {
    width: 100%;
    margin: 18px 0;
    align-items: flex-end;
    fieldset {
        position: relative;
        margin-right: 10px;
        border: none;
    }
    .section-input {
        width: 100%;
    }
    input, select {
        padding: 0 10px;    
        height: 36px;
        font-size: 16px;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
    }
}
.form-input-text {
    width: 40%;
}
.error-text, .error-sum {
    display: none;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 700;
    color: rgb(211, 24, 24)
}
.form-input-category, .form-select-currency {
    margin-right: 10px;
    width: 20%;
}
.form-input-sum {
    width: 25%;
}
.add-btn {
    cursor: pointer;
    width: 100px;
    height: 36px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: rgb(71, 24, 121);
    color: rgb(255, 255, 255)
}
.main-section__panel_items {
    position: relative;
    padding-bottom: 8px;
    width: 100%;
}
.item {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgb(183, 175, 201);
    border-radius: 5px;
}
.item-body {
    width: 90%;
    align-items: center;
}
.item-body__title {
    width: 70%;
}
.item-body__category {
    i {
        margin-right: 10px;
    }
}
.item-body__value {
    width: 10%;
    font-weight: 600;
}
.close-btn {
    cursor: pointer;
}
.main-section__dashboard {
    padding: 18px;
    width: 100%;
    justify-content: space-between;
    button {
        width: 150px;
        font-size: 20px;
        font-weight: 700;
        border: none;
        border-radius: 5px;
    }
}
.main-section__budget {
    font-size: 26px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    span {
        font-size: 32px;
    }
}
.main-section__report {
    position: relative;
    padding: 18px;
    width: 100%;
    h3 {
        margin-bottom: 18px;
        font-size: 18px;
        color: rgb(255, 255, 255);
    }
}
.main-section__report_body {
    position: relative;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    background: rgb(204, 204, 204);
}
.report-item {
    padding: 10px 18px;
    width: 100%;
    align-items: center;
}
.report-item__title {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    i {
        margin-right: 10px;
        font-size: 18px;
    }
}
.report-item__percent, .report-item__value {
    width: 15%;
}

.form-input-currency {
    margin-right: 10px;
}
.form-select-currency {
    display: flex;
    width: 15%;
    select:first-child {
        margin-right: 10px;
    }
}
#currency-result {
    padding-bottom: 18px;
}
.from-data {
    font-size: 14px;
    font-weight: 500;
    color: rgb(117, 117, 117);
}
.toData {
    font-size: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.exchange-result__rates {
    margin-top: 10px;
    font-size: 12px;
}
footer {
    position: relative;
    padding: 0 18px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    a {
        color: rgb(255, 255, 255);
    }
}